.MyBlock{
    background-color: white;
    border-radius: 15px;
    max-width: 700px;
    max-height: 180px;
    padding: 0px 15px;
}
.GeneralBlock{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.GeneralBlock.active{
    display: flex;
    justify-content: center;
    align-items: center;
}